.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background-color: rgb(16, 23, 40);
  color: white;
}
.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
.landingPageContainer nav .navlist {
  cursor: pointer;
  display: flex;
  gap: 1.6rem;
}
.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}
.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;
}
.landingMainContainer > div:nth-child(1) div[role="button"] {
  background:  linear-gradient(90deg, #5527f9, #ff196d);
  width: 190px;
  padding: 0.8rem;
  border-radius: 20px;
  margin-top: 1.9rem;
  text-align: center;
}
.leftmain{
  padding: 20px;
    margin-left: 10px;
}
.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}
.landingMainContainer > div:nth-child(2) img {
  height: 70vh;
  width: auto;
}
.rightimg{
  padding: 30x;
  height: 75%;
 margin-right: 40px;
  border-radius: 50%;
   box-shadow:0px 0px 60px 30px rgba(92, 92, 243, 0.6);
}
.myh2{
  color: aqua;
  margin-bottom: 15px;
}
.navBar{
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  
  
}
.Home{
  height: 100vh;
  width: 100vw;
  background-color:#161c21 ;
}
.Home .navBar .C1 h3{
  color: aqua;
  font-size: 40px;
}
.mainContainer{
height: 80vh;
display: flex;
justify-content: center;
align-items: center;
padding-top: 130px;
}
.left{
  width: 50%;
 
}
.right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.right img{
  
  height:auto;
  width : 50%;
}
.mainContainer .left input{
  height: 60px;
  background-color: #161c21;
  border: 2px solid rgb(18, 124, 124, 1);
  border-radius: 13px;
  color: white;
  font-weight: 300;
  padding: 20px;
}
.left input::placeholder {
  color: #ffffff;   /* apna color */
  opacity: 0.7;    /* important for some browsers */
}
.headings{
  padding: 22px;
  
}
.in{
  padding: 30px;
}
#Btnn{
  border: 2px solid rgba(18, 124, 124, 1);
  border-radius:10px;
  color: aqua;
  font-weight:500;
   padding:10px;
  margin: 7px;
}
#Btnn:hover{
  background-color: rgb(12, 169, 169);
  color: #ffffff;
}
